{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href={% static "base.css" %}>
    {% block extra_head %}{% endblock extra_head %}
    {% tailwind_css %}
</head>
<body>
    <header>
        <nav class='bg-slate-800 flex justify-around items-center p-5 text-white'>
            <div class="logo flex flex-row items-center">
                <div class="logo-img mr-2">
                    <img src="{% static 'img/logo.svg' %}" alt="NestFind Logo" class="w-8 h-8">
                </div>
                <div class="logo-text text-xl font-bold">NestFind</div>
            </div>
 
            <div class="nav-links">
                <ul class='flex space-x-4'>
                    <li class='text-amber-300 cursor-pointer'>
                        <a href="{% url 'core:home' %}">Home</a>
                    </li>
                    
                    <li class='cursor-pointer'>
                        <a href="{% url 'listings:listing' %}">Listings</a>
                    </li>
                    
                    <li class='cursor-pointer'>
                        <a href="{% url 'pages:about' %}">About</a>
                    </li>
                    
                    <li class='cursor-pointer'>
                        <a href="{% url 'pages:blog' %}">Blog</a>
                    </li>
                    
                    <li class='cursor-pointer'>
                        <a href="{% url 'pages:help' %}">Help</a>
                    </li>
                    
                </ul>
            </div>
            <div class="auth-links">
                <ul class='flex space-x-4 items-center'>
                    <li class='cursor-pointer'>
                        Sign In
                    </li>

                    <li class='cursor-pointer border-2 border-orange-400 bg-orange-400 text-black rounded-md px-6 py-2'>
                        Get Started
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock body %}
    </main>
</body>
</html>